@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');

*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body
{
    font-family: 'Moderustic', sans-serif;
}
:root
{
    --preto: black;
    --verde: green;
    --laranja: orange;
    --vermelho: red;
    --cinza: gray;
    --vermelho-escuro: rgb(94, 0, 0);
    --branco: white;
}

.background-preto
{
    background: var(--preto);
}

.background-vermelho-escuro
{
    background: var(--vermelho-escuro);
}
.container
{
    width: 100%;
    max-width: 1440px;
    padding: 0 5%;
    margin: 0 auto;
    flex-direction: column;
}

.colunm
{
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* classes do vlog*/
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo a 
{
    font-size: 30px;
    font-weight: bold;
    color: gray;
    margin: 15%;
}

/*ul1 = listas em vermelho*/
.ul1, .ul2
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.ul1 li, .ul2 li
{
    margin: 10px 35px;
    font-size: 15px;
}

.ul1 li a
{
    color: red;
}

/* ul2= listas em branco e sim, eu sei que provavelmente vou me fuder por isso no futuro*/
.ul2 li a
{
    color: rgb(223, 223, 223);
}

.h1
{
    color: gray;
    font-size: 25px;
    margin: 35px 0px 10px 10px;
}  

.img-personagens
{
    width: 100%;
    max-width: 140px; 
    height: auto; 
    aspect-ratio: 2 / 3; 
    object-fit: cover;
    display: block;
    margin: 5px auto;
}

.img-wiki-personagens
{
    width: 100%; 
    max-width: 400px; 
    height: auto;
    display: block;
    margin: 5px auto;
}

p
{
    color: rgb(223, 223, 223);
    font-size: 18px;
    margin: 20px;
    padding: 0;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

/* Media Queries para ajustes */
@media (max-width: 768px) {
    .logo a {
        margin: 10% 0;
        font-size: 24px; /* Reduz o tamanho da fonte para telas menores */
    }

    .ul1 li, .ul2 li {
        margin: 5px 15px; /* Menor espaçamento para caber na tela */
        font-size: 13px;
    }

    .h1 {
        font-size: 20px;
        margin: 25px 10px 10px 10px;
    }
}

.img-personagens {
    max-width: 100px; /* Reduz o tamanho máximo para 100px em telas menores */

}

.img-wiki-personagens
{
    max-width: 240px;
}
